@import "core/reset";
@import "core/variables";
@import "core/fonts";
@import "core/mixin";

.container {
  max-width: $containerWidth;
  min-height: 100vh;
  margin: 0 auto;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i;
  }
}

@for $i from 1 through 12 {
  .row-#{$i} {
    height: 100% / 12 * $i;
  }
}

@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
}

@each $position in $positions {
  .p-#{$position} {
    position: $position;
  }

// HOME PAGE //

// HOME END PAGE //

// WORKFLOW PAGE //

// WORKFLOW END PAGE //

