@import "core/reset";
@import "core/variables";
@import "core/fonts";
@import "core/mixin";

.container {
  max-width: $containerWidth;
  min-height: 100vh;
  margin: 0 auto;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i;
  }
}

@for $i from 1 through 12 {
  .row-#{$i} {
    height: 100% / 12 * $i;
  }
}

@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
}

@each $position in $positions {
  .p-#{$position} {
    position: $position;
  }
}

// HOME PAGE //
//Временное//
.home-main {
  div {
    height: 100%;
    font-weight: bold;
    // font-size: 30px;
  }
}
//Временное//
// END PAGE //
.main {
  display: flex;
  font-size: 1.8rem;
  color: $c-black;
  @include respond-to(md) {
    flex-wrap: wrap;
  }

  .mainList {
    width: calc(100% / 3);
    margin: 0 20px;
    @include respond-to(md) {
      width: 100%;
    }
  }
  .titleText {
    margin-top: 20px;
    font-size: 3rem;
    @include flex-row(space-between);
    display: flex;
    align-items: center;
    img {
      width: 17px;
      height: 27px;
    }
  }
}

.someTemp {
  display: flex; // класс для всплывающего окна
  position: absolute;
  right: 45px;
  top: 0;
}

.elem {
  display: flex;
  position: relative;
  padding: 15px;
  background-color: $bg-c-white;
  margin: 10px 0;
  @include flex-row(space-between);
  & > img {
    margin-left: 5px;
  }
  .outWindon {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
    background-color: darkgray;
    div {
      cursor: pointer;
      &:hover {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .mainblock {
    display: flex;
    .rincle {
      position: relative;
      min-width: 45px;
      min-height: 45px;
      max-width: 45px;
      max-height: 45px;
      background-color: #5584ff;
      border-radius: 100%;
      margin-right: 15px;
      .letter {
        width: 22px;
        text-align: center;
        position: absolute;
        top: 11%;
        left: 26%;
        font-size: 3rem;
        color: $c-white;
      }
    }
    .onlyText {
      flex-direction: row;
      .inProgres {
        color: $c-default;
      }
      .completed {
        display: flex;
        flex-direction: row-reverse;
        @include flex-row(flex-end);
        margin-top: 5px;
        font-size: 1.4rem;
        color: $c-default;
        img {
          margin-right: 5px;
          height: 17px;
          width: 17px;
        }
      }
    }
  }
}
